body {
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f3f3f3;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #C0D6DF;
    color: rgb(0, 0, 0);
    padding: 15px;
    height: 100vh;
}

.sidebar h2 {
    display: flex;
    justify-content: center;
    font-family: 'Birthstone', serif;
    font-size: 55px;
    font-weight: 400;
    color: #C0D6DF;
}

.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: 'Albert Sans', sans-serif;
    transition: background-color 0.5s;
}

.sidebar i {
    padding-right: 5px;
}

.sidebar a:hover {
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
}

/* === Logout button === */
.logout-button {
    background-color: #6BBBAE;
    border: none; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 15px;
    margin-top: 500px;
    cursor: pointer; 
    border-radius: 4px; 
    font-family: 'Albert Sans', sans-serif;
}

.logout-button:hover {
    background-color: #31a592; 
}

/* Main */
.main-content {
  flex: 1;
  padding: 30px;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-row, .bottom-row {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

/* Cards */
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex: 1;
}

/* New User and Client */
.card.small {
  flex: 0.3;
  height: 250px;            
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 16px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.dot.green { background: #00c853; }
.dot.red { background: #ff1744; }
.dot.yellow { background: #fbc02d; }
.dot.blue { background: #2196f3; }

/* Chart cards */
.chart-card {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.chart-card canvas {
  width: 100%;
  height: 200px;
}

.mini-graph canvas {
  width: 100%;
  height: 50px;            
}

/* Table */
.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.users-table th, .users-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.users-table th {
  background: #C0D6DF;
  font-weight: 600;
}

/* Vehicle summary card */
.user-table-card {
  flex: 1;
}

.bottom-row .card.small {
  height: 320px;            
}
