* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans', sans-serif;
  background-color: #F2F2F2;
}

/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* white background */
  padding: 10px 40px;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo img {
  height: 75px;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #74A8A4; 
}

/* Example content */
.content {
  padding: 40px;
  text-align: center;
}


/* underline */
.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: normal;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #74A8A4;
}

.nav-links a.active {
  border-bottom: 3px solid #74A8A4;
  color: #222;                      
}




/* Hero Section */
.hero {
  background: #ddd;
  text-align: left;
  margin-top: 40px;
  padding: 100px 40px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 90px;
}

/* Button styled as link */
.btn {
  display: inline-block;
  background-color: #58a193;
  border: none;
  padding: 22px 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #4a8c7f;
}

/* About Section */
.about {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #f6f6f6;
  margin: 40px;
}

.about-text {
  width: 55%;
}

.about-text h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.underline {
  border-bottom: 5px solid #58a193;
  padding-bottom: 3px;
  font-size: 36px;
}

.about-text p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.about-image {
  width: 50%;
  background: #ddd;
  height: 400px;
}