* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans', sans-serif;
  background-color: #F2F2F2;
}

/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* white background */
  padding: 10px 40px;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo img {
  height: 75px;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #74A8A4; 
}

/* Example content */
.content {
  padding: 40px;
  text-align: center;
}


/* underline */
.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: normal;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #74A8A4;
}

.nav-links a.active {
  border-bottom: 3px solid #74A8A4;
  color: #222;                      
}


/* TABLE SCHEDULE */

body {
  font-family: Arial, sans-serif;
}

/* Center Table */
table {
  width: 80%;             
  margin: 20px auto;       
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #C0D6DF;
  color: black;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 50px; 
  font-size: 28px;
}

.underlinesched {
  border-bottom: 5px solid #58a193;
  padding-bottom: 3px;
  font-size: 36px;
  margin: 80px;
}


/* save buttonss */
.save-btn {
  background-color: #6BBBAE;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.save-btn:hover {
  background-color: #5ea398;
}